
    body {
      font: 12pt sans;
      background: #d6d94a;
    }
    .panel {
         width: 387px;
        height: 600px;
        border-color: #024f4b;
        margin-top: 6px;
    }
    .panel-primary>.panel-heading {
      color: #fff;
      background-color: #024f4b;
      border-color: #024f4b;
    }
    #mynetwork {
      background: white;
      float:left;
      width: 900px;
      height: 600px;
      margin:5px;
      margin-left: 35px !important;
      border: 2px solid #024f4b;
    }
    
    #contenedor {
      margin: 10px auto;
      padding-left: 15px !important;
      width: 540px;
      height: 115px;
    }

    h1{
        color: #024f4b;
        font-family: monospace;
        font-weight: bold;
        font-size: 30pt;
    }
    .timer {
      float: left;
      font-size: 43px;
      font-family: Courier,sans-serif;
      color: #363431;
    }

    .boton {
      outline: none;
      border: none;
      color: white;
      width: 103px;
      height: 30px;
      text-shadow: 0px -1px 1px black;
      font-size: 20px;
      border-radius: 5px;
      font-family: Helvetica;
      cursor: pointer;
      background-color: #010933;
    }
   
    .boton:active {
      background-color: #024f4b !important ;
    }

    .boton:hover {
      box-shadow: 0px 0px 14px #024f4b;
    }